<div class="container mx-auto py-6 px-4 max-w-2xl">
  <!-- Bouton Retour -->
  <button class="text-gray-600 flex items-center mb-4" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <!-- Card blanche -->
  <div class="bg-white shadow-md rounded-lg p-8">
    <h2 class="text-2xl font-bold text-center mb-6">Créer un nouvel article</h2>

    <form [formGroup]="postForm" class="space-y-6">

      <!-- Sélecteur de thème-->
      <select
        formControlName="subjectId"
        class="w-full border-2 border-purple-500 rounded px-3 py-2 text-gray-700 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-purple-400"
      >
        <!-- Choix par défaut, pré-sélectionné -->
        <option value="" selected disabled>
          Sélectionner un thème
        </option>
        <!-- Liste des sujets -->
        <option
          *ngFor="let subject of subscribedSubjects"
          [value]="subject.id"
        >
          {{ subject.name }}
        </option>
      </select>



      <!-- Titre de l'article -->
      <input
        type="text"
        formControlName="title"
        placeholder="Titre de l’article"
        class="w-full border-2 border-purple-500 rounded px-3 py-2 text-gray-700 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-purple-400"
      />

      <!-- Contenu de l'article -->
      <textarea
        formControlName="content"
        rows="5"
        placeholder="Contenu de l’article"
        class="w-full border-2 border-purple-500 rounded px-3 py-2 text-gray-700 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-purple-400"
      ></textarea>

      <!-- Bouton Créer -->
      <button
        type="button"
        class="w-full rounded bg-purple-600 text-white py-3 font-semibold hover:bg-purple-700 disabled:opacity-50"
        [disabled]="postForm.invalid"
        (click)="onSubmit()"
      >
        Créer
      </button>

    </form>
  </div>
</div>
