<h2 mat-dialog-title>Créer un article</h2>
<mat-dialog-content class="flex flex-col space-y-4" [formGroup]="postForm">
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Sélectionner un thème</mat-label>
    <mat-select formControlName="subjectId">
      <mat-option *ngFor="let subject of subscribedSubjects" [value]="subject.id">
        {{ subject.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Titre de l’article</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Contenu</mat-label>
    <textarea matInput formControlName="content" rows="4"></textarea>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Annuler</button>
  <button mat-raised-button color="primary" [disabled]="postForm.invalid" (click)="onSubmit()">
    Créer
  </button>
</mat-dialog-actions>
